/* 페이지 공통 */
#container { width: 960px; margin: 0 auto }

nav { margin-top: 50px }
nav ul { list-style: none; padding: 0; }
nav li { display: inline-block; padding: 0 65px; }

a:link { color: black; text-decoration: none; font-weight: bold }
a:visited { color: black; }
a:hover { color: red; text-decoration: underline; }
a:active { color: orange; }

.hr { background-color: black; height: 2px; opacity: 100% }

main { min-height: 500px }

.copy { text-align: center }

/* 폼 공통 */
form { width: 320px; margin: 75px auto; }
form div { padding: 5px }
form label { width: 110px; font-weight: bold; text-align: right }
form input { padding: 5px }

/* 회원정보 */
.myinfo { width: 300px; margin: 75px auto; }
.myinfo td, .myinfo th { padding: 7px }
.myinfo th { text-align: right }





